@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color-primario: #e9e9e9;
    --chakra-Petch: "Chakra Petch", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.contenedor-encriptador {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primario);
}

.encriptador-titulo {
    position: absolute;
    font-family: var(--chakra-Petch);
    color: orangered;
    width: 42%;
    height: 50%;
    left: 12%;
    top: 3%;
}


#texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: var(--chakra-Petch);
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: aliceblue;
}

#texto:focus,
#texto:active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 80%;
    left: 12%;
    position: absolute;
    top: 80%;
}

.terminos p {
    font-family: var(--chakra-Petch);
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: gray;
    flex: none;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 83%;
}

.boton-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 25%;
    background-color: orangered;
    border: 1px solid;
    border-radius: 24px;
    font-family: var(--chakra-Petch);
    font-size: 18px;
    text-align: center;
    color: white;
}

.boton-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    margin-left: 2%;
    width: 25%;
    border: 1px solid orangered;
    border-radius: 24px;
    font-family: var(--chakra-Petch);
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: orangered;
}

.boton-encriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
    background-color: #fc895f;
}

.boton-desencriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
    margin-left: 2%;
    background-color: #fc895f;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color: white;
    box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

#titulo-mensaje {
    width: 60%;
    font-family: var(--chakra-Petch);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: gray;
}

#parrafo {
    width: 80%;
    font-family: var(--chakra-Petch);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: gray;
}

.encriptado img {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 8%;
}

/* resposive */

@media (max-width: 57.5em) {
    .contenedor-encriptador {
        display: flex;
        flex-direction: row;
    }
    .encriptador {
        width: 100%;
    }

    .encriptador-titulo {
        left: 38%;
    }

    #texto {
        width: 80%;
        height: 55%;
        left: 10%;
        top: 10%;
    }
    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .terminos p {
        font-size: 16px;
    }
    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .boton-encriptar, .boton-desencriptar {
        width: 48%;
        border-radius: 16px;
    }
    .boton-encriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .boton-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
        margin-left: 2%;
    }
    .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }
    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
}